<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue twitter simple</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
<div id="app">
    <h1>{{title}}</h1>
    <form @submit.prevent="onSubmit">
        <textarea v-model="item" name="tweet" required id="form-tweet" placeholder="Type tweet here"></textarea>
        <br>
        <button type="submit">Submit</button>
    </form>
    <ul>
        <li v-for="(item, i) in items" :key="'item-' + i">
            {{item.date}}
            <br>
            {{item.body}}
            <br>
            <img :src="item.avatar" alt="" width="30" height="30">
        </li>
    </ul>
</div>
<script src="./app.js"></script>
</body>
</html>